.App {
  text-align: center;
}

.Nav {
  background-color: #8e44ad;
  display: flex;
  flex-direction: row;
  align-items: center;
  margin-bottom: 20px;
  padding: 10px 0;
}

.Nav > ul {
  margin: 20px auto;
  display: flex;
  width: auto;
  justify-content: space-evenly;
  list-style-type: none;
}

.Nav > ul > li {
  font-family: 'Raleway', sans-serif;
  font-size: 20px;
  padding: 5px 15px;
  margin: 0 20px;
}

.Nav > ul > li > a {
  text-decoration: none;
  color: white;

}

.Nav > ul > li > a:hover {
  color: #9b59b6;
  cursor: pointer;
}
